@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Cereal;
    src: url('fonts/Cereal_W_Md.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Cereal;
    src: url('fonts/Cereal_W_Lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Cereal;
    src: url('fonts/Cereal_W_Bd.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Cereal;
    src: url('fonts/Cereal_W_Bk.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Cereal;
    src: url('fonts/Cereal_W_Blk.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Cereal;
    src: url('fonts/Cereal_W_XBd.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}